<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-item>
          <ion-title>Languages:</ion-title>
          <div>
            <ion-item>
              <ion-select placeholder="To language" [formControl]="Tlanguage">
                <ion-select-option *ngFor="let l of this.ws.languages">{{l}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-select placeholder="From language" [formControl]="Flanguage">
                <ion-select-option *ngFor="let l of this.ws.languages">{{l}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-button [disabled]="translateDisabled" (click)="select()">Select</ion-button>
            </ion-item>
          </div>
        </ion-item>
        <ion-item>
          <div>
            <ion-item>
              <ion-toggle [formControl]="OpenAIToggle" (ionChange)="checktoggle()">Use GPT3.5</ion-toggle >
            </ion-item>
          </div>
        </ion-item>
      </ion-content>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
